// .top-page {
//     border-bottom: 1px solid #ececec;
//     background-color: var(--head-background-color);
//     /* padding-top: 24px;
//   padding-bottom: 24px; */
// }

// .container-header {
//     display: flex;
//     align-items: center;
//     width: 1200px;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin: 0 auto;
// }


// MOBILE


.top-page {
  border-bottom: 1px solid #ececec;
  background-color: var(--head-background-color);

}

.container-header {

  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width:100%;
 
  margin: 0 auto;
  // max-width: 100%;
  // width: 100%;
  // height: 100%;
  // margin: 0;

  

  @media screen and (min-width: 480px){ 
    max-width:480px; 
  }

    @media screen and (min-width: 768px) {
      max-width: 768px;
    }

  @media screen and (min-width: 1200px) {    
  max-width: 1200px;     
  }
}

