.logo-footer {
    color: var(--white-logo-hero-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    text-decoration: none;

    display: flex;
    margin-bottom: 20px;
    align-items: baseline
}