:root {
    --heading-color: #212121;
    --paragraps-color: #757575;
    --logo-hover-color: #2196f3;
    --black-logo-color: #000000;
    --white-logo-hero-color: #ffffff;
    --white-transparent-color: rgba(255, 255, 255, 0.6);

    --head-background-color: #ffffff;
    --main-background-color: #f5f5f5;
    --secondary-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --card-background-color: #eeeeee;

    --logos-color: #afb1b8;
}